
<html>
<head>
    <script src="../Scripts/angular.min.js"></script>
    <script src="../Scripts/jquery-3.3.1.min.js"></script>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <script src="../Scripts/bootstrap.min.js"></script>
</head>
<body ng-app="AdminDashboard" ng-controller="StudentsController">
    <div class="container">
        <h1>{{userInfo}}</h1>
        <h2>Student Record</h2>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="btnEmpty" ng-click="displayForAdd()">Add New Record</button><br /><br />
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Studentid</th>
                    <th scope="col">Adminid</th>
                    <th scope="col">Name </th>
                    <th scope="col">Contactno</th>
                    
                </tr>
            </thead>
            <tbody id="tabcontent">
                <tr ng-repeat="x in data">
                    <td>{{ x.Studentid }}</td>
                    <td>{{ x.Adminid }}</td>
                    <td>{{ x.Name }}</td>
                    <td>{{ x.Contactno }}</td>
                  
                    <td><a href="#" data-toggle="modal" data-target="#myModal" ng-click="displayForUpdate(x)">Edit</a>|<a href="#" data-toggle="modal" data-target="#myModal" ng-click="displayForRemove(x)">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">{{operation}}</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="EmployeeId">Studentid</label>
                        <input type="text" class="form-control" ng-model="Studentid"  />
                    </div>
                    <div class="form-group">
                        <label for="Name">Adminid</label>
                        <input type="text" class="form-control" ng-model="Adminid"  />
                    </div>
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" ng-model="Name"  />
                    </div>
                    <div class="form-group">
                        <label for="Name">Contact</label>
                        <input type="text" class="form-control" ng-model="Contact" />
                    
                </div>
              </div>
                </div>
              
           
           
        </div>
        <div class="modal-footer">
            <!-- <button type="button" class="btn btn-primary" id="btnAdd">Add</button> -->
            <button type="button" class="btn btn-success" data-target="myModal" data-dismiss="modal" ng-click="addNewRecord()" id="btnAdd">Add</button>
            <button type="button" class="btn btn-danger" data-bind="myModal" data-dismiss="modal" ng-click="deleteRecord()" id="btnDelete">Delete</button>
            <button type="button" class="btn btn-primary" data-bind="myModal" data-dismiss="modal" ng-click="updateRecord()" id="btnUpdate">Update</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
    <script>
		var myApp = angular.module('StudentDashboard', []);
		myApp.controller("Students", function ($scope, $http) {
						$scope.displayForAdd=function(){
							$scope.operation="Add New Record";
							$("#btnDelete").hide();
							$("#btnUpdate").hide();
						}
						$scope.displayForUpdate = function (value) {
							$scope.operation="Update Record";
							$scope.Studentid=value.Studentid;
							$scope.Adminid=value.Adminid;
							$scope.Name=value.Name;
							$scope.Contact=value.Contact;
							
							$("#btnDelete").hide();
							$("#btnAdd").hide();
						}
						$scope.displayForRemove = function (value) {
							$scope.operation="Remove Record";
							$scope.Studentid = value.Studentid;
							$scope.Adminid = value.Adminid;
							$scope.Name = value.Name;
							$scope.Contact = value.Contact;
							$("#btnUpdate").hide();
							$("#btnAdd").hide();
						}
                        $scope.addNewRecord = function () {
                            var customer = {
                                "Studentid": $scope.Studentid,
                                "Adminid": $scope.Admin,
                                "Name": $scope.Name,
                                "Contact": $scope.Contact
                               
                            };
                            ///////////Add RECORD/////////////////
                            var req = {
                                method: 'POST',
                                url: '/api/students/',
                                data: customer,
                                headers: {
                                    'Content-Type': 'application/json; charset=utf-8',
                                    'Accept': 'application/json',
                                    'Authorization': 'bearer ' + localStorage.getItem('token')
                                }
                            }
                            //data, status, headers, config
                            $http(req).then(function (response) { $scope.data = response.data; resetOptions(); },
                                        function (response) { alert("failed " + JSON.stringify(response)); });
                            /////////////////////////////////////////
                        }
						$scope.deleteRecord=function(){
                             ///////////Add RECORD/////////////////
                            var req = {
                                method: 'DELETE',
                                url: '/api/students/'+$scope.Studentid,
                                headers: {
                                    'Content-Type': 'application/json; charset=utf-8',
                                    'Accept': 'application/json',
                                    'Authorization': 'bearer ' + localStorage.getItem('token')
                                }
                            }
                            //data, status, headers, config
                            $http(req).then(function (response) { $scope.data = response.data; resetOptions(); },
                                        function (response) { alert("failed " + response.status); });
                            /////////////////////////////////////////
						}
                        $scope.updateRecord = function () {
                            var customer = {
                                "Studentid": $scope.Studentid,
                                "Adminid": $scope.Admin,
                                "Name": $scope.Name,
                                "Contact": $scope.Contact
                            };
                            ///////////UPDATE RECORD/////////////////
                            var req = {
                                method: 'PUT',
                                url: '/api/students/' + $scope.Studentid,
                                data: customer,
                                headers: {
                                    'Content-Type': 'application/json; charset=utf-8',
                                    'Accept': 'application/json',
                                    'Authorization': 'bearer ' + localStorage.getItem('token')
                                }
                            }
                            //data, status, headers, config
                            $http(req).then(function (response) { $scope.data = response.data; resetOptions(); },
                                        function (response) { alert("failed " + response.status); });
                            /////////////////////////////////////////
                        }
						resetOptions=function(){
							$("#btnDelete").show();
							$("#btnAdd").show();
							$("#btnUpdate").show();
                        }
                        /////////////////////////CODE TO BE EXEWCUTED ON PAGE LOAD////////////////////////////////
						//code that executes on page load without call
                        var req = {
                            method: 'GET',
                            url: '/api/students',
                            headers: {
                                'Content-Type': 'application/json; charset=utf-8',
                                'Accept': 'application/json',
                                'Authorization': 'bearer ' + localStorage.getItem('token')
                            }
                        }
                        //data, status, headers, config
                        $http(req).then(function (response) { $scope.data = response.data; },
                                        function (response) { alert("failed " + response.status); });
                         var req = {
                            method: 'GET',
                            url: '/api/account/UserInfo',
                            headers: {
                                'Content-Type': 'application/json; charset=utf-8',
                                'Accept': 'application/json',
                                'Authorization': 'bearer ' + localStorage.getItem('token')
                            }
                        }
                        //data, status, headers, config
                        $http(req).then(function (response) { alert(JSON.stringify(response.data.Email)); $scope.userInfo = response.data.Email; },
                                        function (response) { alert("failed " + response.status); });

                    });
    </script>
</body>
</html>
